

@keyframes changeOrder {
  from {
    z-index: 6;
  }
  to {
    z-index: 1;
  }
}

* {
  -webkit-user-select: none;
  user-select: none;
}



/* Ocultar inputs para que no se vean los checkbox */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/162/413/large_2x/illustration-of-city-scenery-at-sunset-in-the-evening-vector.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
  max-width: min-content;
  display: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.flip-card {
  position: relative;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  border: none;
}

.flip-card-inner {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card-back,
.flip-card-front {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flip-card-back img,
.flip-card-front img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  height: auto;
}

.flip-card-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: transparent;
}


/* Animation show and hide */

@keyframes show {
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.please-turn-card {
  margin: 0;
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  /* Centrar en el medio de arriba de la carta */
  top: 0;
  left: 0;
  z-index: 10;
}

.alert {
  position: relative;
  top: 10;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 400;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.warning {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

.error {
  background-color: rgba(73, 38, 138, 0.5);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.you-won-card {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #c4bbe2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.label-dice {
  animation: changeOrder 6s infinite linear;
  background: #564ea6;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  padding: 1rem;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  /* center it self*/
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.you-won-card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.you-won-card button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #564ea6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.you-won-card a {
  text-decoration: none;
  color: #ffffff;
}

/* responsive */

@media screen and (max-width: 768px) {
  .flip-card {
    width: 100px;
    height: 100px;
  }
 
  .flip-card-back img,
  .flip-card-front img {
    max-height: 100%;
  }
  .you-won-card {
    width: 200px;
    height: 200px;
  }
  .you-won-card h1 {
    font-size: 1.5rem;
  }
  .you-won-card button {
    padding: 0.5rem 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  main {
    grid-gap: 5px;
  }
  .flip-card {
    width: 80px;
    height: 80px;
  }

  .flip-card-back img,
  .flip-card-front img {
    max-height: 100%;
  }
  .you-won-card {
    width: 90%;
    height: 70%;
  }
  .you-won-card h1 {
    font-size: 1rem;
  }
  .you-won-card button {
    padding: 0.5rem 0.8rem;
  }
}